<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<root>
   <Inputs
           dem_path = "/home/gizbo89/Desktop/MDT02-ETRS89-HU31-0180-2-COB2.tif"
           option_b = "24"
           >
   </Inputs>
   <Outputs
           log_name = "/home/gizbo89/Desktop/test.log"
           >
   </Outputs>
</root>
